* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #f2f2f2;
  --bg-Primary: #3f7d58;
  --bg-Secondary: #262a2d;
  --textfont-color: #121212;
  --text-color: #636363;
}

 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: sans-serif;
      background-color: var(--bg-color);
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
      background-color: var(--bg-color);

    }

    .logo {
      font-weight: bold;
      font-size: 18px;
    }

    .center-menu {
      display: flex;
      background-color: var(--bg-Secondary);
      border-radius: 30px;
      padding: 5px 10px;
    }

    .center-menu a {
      color: var(--bg-color);
      text-decoration: none;
      padding: 8px 15px;
      border-radius: 20px;
      transition: 0.3s;
      font-size: 14px;
    }

    .center-menu a.active {
      background-color: var(--bg-color);
      color: var(--textfont-color)
    }

    .auth-buttons {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .auth-buttons a {
      text-decoration: none;
      color: var(--bg-Secondary);
      font-size: 14px;
      padding: 6px 12px;
      border: 1px solid var(--bg-Secondary);
      border-radius: 15px;
      transition: 0.3s;
    }

    .auth-buttons a:hover {
      background-color: var(--bg-Secondary);
      color: white;
    }

